.padding-pane {
  -fx-padding: 10px;
}

.text-pane {
  -fx-background-radius: 20px;
  -fx-background-color: aqua;
  -fx-padding: 10px;
}

.nav-pane {
  -fx-background-color:lightseagreen;
  -fx-padding: 5px;
  -fx-min-width: 50px;
  -fx-max-width: 50px;
}

.tools-pane {
  -fx-background-color: transparent;
  -fx-padding: 20px;
}

.root-pane {
  /* -fx-padding: 10px; */
}

.search-box {
  -fx-background-color: orange;
  -fx-background-radius: 20px;
  -fx-min-height: 60px;
  -fx-font-family: "Helvetica Neue";
  -fx-font-size: 24px;
  -fx-prompt-text-fill: gray;
}

.search-list {
  -fx-font-family: "Helvetica Neue";
  -fx-font-size: 16px;
  -fx-background-radius: 4px;
  -fx-background-color: transparent;
}

.search-list .list-cell:empty { 
  -fx-background-color: transparent;
}

.search-list .list-item {
  -fx-border-color: black;
  -fx-border: 1px;
}

.word-header {
  -fx-font-size: 40px;
  -fx-font-family: "Roboto";
  -fx-font-weight: 300;
}

.word-meaning {
  -fx-font-size: 16px;
}

.word-class {
  -fx-font-style: italic;
}

.title-text {
  -fx-font-size: 20px;
  -fx-font-family: "Helvetica Neue", sans-serif;
  -fx-letter-spacing: -1px;
  -fx-line-height: 1;
  -fx-text-align: center;
  -fx-font-weight: bold;
  -fx-fill: white;
}

.nav-button {
  -fx-background-color: transparent;
  -fx-min-width: 50%;
}

.nav-button:hover {
  -fx-background-color: darkcyan;
}

.pron-button {
  -fx-background-color: transparent;
}

.pron-button:hover {
  -fx-background-color: rgb(90, 240, 240);
}

.tool-button {
  -fx-background-color: white;
  -fx-background-radius: 5px;
  -fx-min-width: 150px;
  -fx-min-height: 150px;
}

.tool-button:hover {
  -fx-background-color: darkcyan;
  -fx-background-radius: 5px;
}

.history-list .list-cell:empty {
  -fx-background-color: transparent;
}